<div id="exam-edit" class="card">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>

    <div class="card-tools">
      <button type="submit" form="examForm" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>保存</button>
    </div>
  </div>
  <div class="card-body">
    <form id="examForm" action="/admin/exam{{ exam ? '/' : '' }}{{exam.id}}" method="{{ exam ? 'PUT' : 'POST' }}" class="needs-validation"
          novalidate="novalidate">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-append">
                <div tabindex="0" class="uploader_input_box" id="cropCover" role="button" data-bs-target="#cropCover">
                  {% if exam.cover %}
                  <img src="{{exam.cover}}" class="w-100 h-100 object-fit-cover">
                  {% else %}
                  <i class="fas fa-plus" style="margin-top: 20px"></i>
                  <p>选择封面</p>
                  {% endif %}
                </div>
                <input type="hidden" name="cover" value="{{exam.cover}}">
              </div>
              <textarea name="title" class="form-control" required data-bs-toggle="tooltip" data-bs-title="知识竞赛标题" placeholder="知识竞赛标题"
                        style="height: 90px">{{exam.title}}
              </textarea>
            </div>
          </div>
          <div class="form-group my-1" data-bs-toggle="tooltip" data-bs-title="知识竞赛摘要">
            <textarea name="description" class="form-control" placeholder="知识竞赛摘要" rows="4">{{exam.description}}</textarea>
          </div>
          <div class="form-group my-1" data-bs-toggle="tooltip" data-bs-title="每次抽取数量">
            <div class="input-group">
              <span class="btn btn-default">数量</span>
              <input name="size" class="form-control" value="{{exam.size}}" placeholder="每次抽取数量" required>
            </div>
          </div>

          <div class="form-group my-1" data-bs-toggle="tooltip" data-bs-title="知识竞赛时长">
            <div class="input-group">
              <span class="btn btn-default">时长</span>
              <input name="examTime" type="text" class="form-control required" value="{{exam.examTime}}" placeholder="最多120分钟">
            </div>
          </div>
          <div class="form-group my-1">
            <div class="input-group date" id="startTime" data-target-input="nearest">
              <label class="input-group-text">开始时间</label>
              <input name="startTime" type="text" class="form-control datetimepicker-input" data-target="#startTime">
              <div class="input-group-text" data-target="#startTime" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
          <div class="form-group my-1">
            <div class="input-group date" id="endTime" data-target-input="nearest">
              <label class="input-group-text">结束时间</label>
              <input name="endTime" type="text" class="form-control datetimepicker-input" data-target="#endTime">
              <div class="input-group-text" data-target="#endTime" data-toggle="datetimepicker"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
          <div class="btn-group mt-3 w-100">
            <button class="btn btn-primary" type="submit">保存</button>
            <span class="btn btn-secondary" role="button" onclick="history.back()">返回</span>
          </div>
        </div>
        <div class="col-md-8">
          <textarea id="content" name="content" class="form-control">{{exam.content}}</textarea>
        </div>
      </div>
    </form>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

<script type="text/javascript">
  loadCSS('/js/summernote/summernote-bs5.min.css');
  loadCSS('/js/summernote/plugin/custom/summernote-ext-custom.css');
  loadScript('/js/summernote/summernote-bs5.min.js', function () {
    loadScript('/js/summernote/lang/summernote-zh-CN.min.js');
    loadScript('/js/summernote/plugin/custom/summernote-ext-custom.js');
    $('#exam-edit #content').summernote({
      toolbar: [
        ['style', ['undo', 'pasteText', 'deleteCode', 'style']],
        ['font', ['bold', 'underline', 'clear', 'clearWord']],
        ['color', ['color']],
        ['fontsize', ['fontsize', 'height']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['link', 'picture', 'video', 'material']],
        ['view', ['editorWidth', 'codeview', 'help']],//
      ],
      popover: {
        image: [
          ['imageResize', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']],
          ['float', ['floatLeft', 'floatRight', 'floatNone']],
          ['remove', ['cropperImageButton', 'imageWatermarkButton', 'addImageLink', 'cutImageButton', 'removeMedia']]
        ],
        link: [['link', ['linkDialogShow', 'unlink']]],
        table: [['add', ['addRowDown', 'addRowUp', 'addColLeft', 'addColRight']], ['delete', ['deleteRow', 'deleteCol', 'deleteTable']]]
      },
      disableDragAndDrop: true,
      styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'],
      callbacks: {
        onImageUpload: function (file) {
          $.uploadFile({
            file: file[0],
            url: 'https://images.ztnews.net/upload/thumb',
            compress: {maxWidth: 1200, maxHeight: 1000, quality: .7},// 编辑器内使用缩略图
            uid: currentUser.uid,
            ext: '.jpg,.jpeg,.gif,.png',
            success: function (res) {
              if (res.url) $('#content').summernote('insertImage', res.url);
              else Toast.fire({icon: 'error', title: res.errMsg});
              Swal.close();
            },
            error: function (res) {
              Toast.fire({icon: 'error', title: res.errMsg});
              Swal.close();
            },
            uploadStart: function (data) {
              console.log(data);
              showLoading(data);
            },
            processResults: function (progress) {
              Swal.update({title: progress});
              Swal.showLoading();
            }
          });
          return false;
        },
        onPaste: function (e) {
          var clipboardData = (e.originalEvent || e).clipboardData;
          if (clipboardData && clipboardData.items && clipboardData.items.length) {
            var item = clipboardData.items[clipboardData.items.length - 1];
            console.log(item);
            if (item.kind === 'string' && item.type === 'text/plain') {
              const text = clipboardData.getData(item.type).replace(new RegExp('<!--(.*?)-->|&nbsp;', 'g'), '');
              if (/<[^>]*>/.test(text)) {
                $('#content').summernote('pasteHTML', text);
                e.preventDefault();
              }
            }
            if (item.kind === 'file' && item.type.indexOf('video/') !== -1) {
              $.uploadFile({
                file: item.getAsFile(),
                url: 'https://images.ztnews.net/upload/files',
                accept: 'video/mp4',
                ext: 'mp4',
                maxSize: 200,
                uid: currentUser.uid,
                success: function (res) {
                  if (res.id > 0) {
                    const $video = $('<p><video src="' + res.url + '" controls preload="auto" style="margin: 0 auto; max-height: 400px; max-width: 100%"></video><br></p>');
                    $('#content').summernote('insertNode', $video[0]);
                  } else {
                    Toast.fire({icon: 'error', position: 'top', title: res.errMsg});
                  }
                  Swal.close();
                },
                error: function (res) {
                  Swal.close();
                  Toast.fire({icon: 'error', title: res.errMsg});
                },
                uploadStart: function (data) {
                  console.log(data);
                  showLoading(data);
                },
                processResults: function (progress) {
                  Swal.update({title: progress});
                  Swal.showLoading();
                }
              });
            }
          }
        }
      },
      lang: 'zh-CN',
      placeholder: '从Word复制的内容，使用Ctrl+Shift+V粘贴可去除Word格式；图片、视频可以直接粘贴到编辑器',
      height: $(window).height() - 290,
      tabsize: 2,
      followingToolbar: true,
      maxHeight: $(window).height() - 290,
      uploadUrl: 'https://images.ztnews.net/upload',
      uid: currentUser.uid
    });
  });
  loadCSS('/css/cropper.min.css');
  loadScript('/js/cropper.min.js');
  loadScript('/js/page/cropper.js');
  loadScript('/js/exif.js');
  loadScript('/js/spark-md5.min.js');
  loadScript('/js/upfile.js');
  loadScript('/plugins/exam/js/content.js');
  $(document).ready(function () {
    $('#startTime').datetimepicker({
      locale: 'zh-cn', sideBySide: true,
      format: 'YYYY-MM-DD HH:mm:ss',
      defaultDate: new Date(parseInt('{{exam.startTime?:time}}') * 1000),
      icons: {time: 'far fa-clock'}
    });
    $('#endTime').datetimepicker({
      locale: 'zh-cn', sideBySide: true,
      format: 'YYYY-MM-DD HH:mm:ss',
      defaultDate: new Date(parseInt('{{exam.endTime?:time}}') * 1000),
      icons: {time: 'far fa-clock'}
    });
  });
</script>

