<div id="exam-question" class="card">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-bs-toggle="modal" data-bs-target="#modal-addQuestion"><i class="fas fa-plus"></i>添加题目</button>
    </div>
  </div>
  <div class="modal fade" id="modal-addQuestion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">添加/修改问题</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="questionForm" action="/admin/exam/question" method="POST" class="needs-validation" novalidate="novalidate">
            <div class="form-group mb-3">
              <input name="examId" type="hidden" value="{{id}}">
              <label class="form-label" for="question">问题题目</label>
              <textarea id="question" name="question" class="form-control" required placeholder="填写问题题目"></textarea>
            </div>
            <div class="form-group mb-3">
              <label class="form-label">选择题选项</label>
              <textarea name="answerItem" class="form-control" placeholder="A、选择题选项，每行一个。&#13;&#10;B、填空题留空&#13;&#10;C、有多个选项依次添加"
                        style="height: 150px;"></textarea>
            </div>
            <div class="form-group mb-3">
              <label class="form-label">答案</label>
              <textarea name="answer" class="form-control" placeholder="问题答案&#13;&#10;每行一个&#13;&#10;选择题直接填选项字母&#13;&#10;B&#13;&#10;D"
                        style="height: 150px;" required></textarea>
            </div>
            <div class="form-group">
              <label class="form-label">填空题答案是否有有序</label>
              <select name="orderly" class="form-control">
                <option value="0">无序</option>
                <option value="1">有序</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">关闭</button>
          <button type="submit" form="questionForm" class="btn btn-primary">提交</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="card-body">
    <table id="questionData" class="table table-sm table-bordered table-hover"></table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
<script type="text/javascript">
  loadScript('/plugins/exam/js/question.js', function () {
    $(document).ready(function () {
      questionDataTables = $('#questionData').DataTable({
        ajax: basePath + "/admin/exam/question/{{id}}",
        rowId: 'id',
        columns: [
          {
            title: '答案',
            class: "details-control text-center",
            orderable: false,
            data: null,
            defaultContent: '<i class="fas fa-plus-circle"></i>'
          },
          {title: '题目', data: "question"},
          {
            title: '操作', data: "op",
            render: function (data, type, row, meta) {
              return '<button type="button" class="btn btn-tool edit"><i class="fas fa-edit"></i>修改</button>' +
                '<button type="button" class="btn btn-tool del"><i class="fas fa-trash-alt"></i>删除</button>';
            }
          }
        ]
      });

    });
  });
</script>
